*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:  Verdana,sans-serif;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    color: #000;
    background-color: #fff;
    border-bottom-style: inset;
}
h1.heading-container {
    margin: 7px 62px;
    padding: 10px;
    font-size: 17px;
    letter-spacing: 7px;
}
nav.navigation-container {
    margin: 16px;
    /* padding: 3px; */
}
nav.navigation-container a {
    padding: 11px 23px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    /* font-weight: 900; */
    /* font-family: Verdana,sans-serif; */
} 

.header h1:hover {
    background-color: #d6d3d3;
    /* color: white; */
}
.header a:hover{
    background-color: #d6d3d3;
}
h1.image-content {
    position: absolute;
    top: 54%;
    bottom: 50%;
    /* text-align: center; */
    right: 45%;
}
.image-content span {
    color: white;
    font-weight: 400;
}
h1.image-content b {
    color: #fff!important;
    background-color: #000!important;
    padding: 6px;
    opacity: 0.75;
}
element.style {
    height: 800px;
    width: 97%;
    margin: 0px 22px;
}
/*second-section*/
.second-section {
    padding: 20px 23px;
}
p.section-paragraph {
    padding: 25px 20px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}
.image-container {
    margin: 30px 0px;
}
.image-row {
    display: flex;
    /* margin: 30px 0px; */
}
img.images {
    padding: 0px 10px;
    height: 207px;
    width: 369px;
}
p.elements {
    position: absolute;
    margin-left: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px;
}

.image-row.image-flow {
    flex-direction: row-reverse;
    margin: 20px 0;
}
/* Third section */
.section-container {
    display: block;
    margin: 15px 33px;
}
h1.heading {
    font-weight: 100;
    font-size: 28px;
    padding: 26px 5px;
}p.paragraph-contains {
    font-size: 15px;
    margin: 0 0 20px 0;
}

/*  
.image-container.img-cont {
    margin: 40px 36px;
}
.image-container.img-cont img {
    width: 24%;
    height: 250px;
    opacity: 0.;
    
    filter: grayscale(75%);*/

/*part*/
.format {
    margin: 30px;
    width: 25%;
}
img.image-format {
    width: 100%;
    filter: grayscale(75%);
    height: 220px;
}
h1.name {
    font-weight: 100;
    padding: 20px 0;
    font-size: 22px;
}
h2.proffesion {
    padding: 15px 0;
    font-size: 15px;
    opacity: 0.50;
}
p.paragraph {
    font-size: 15px;
    padding: 15px 0;
}
button.button {
    width: 100%;
    font-size: 17px;
    /* font-weight: bolder; */
    text-align: center;
    padding: 10px 0px;
    border: none;
    color: #000!important;
    background-color: #f1f1f1!important;
    cursor:pointer
    
}

button.button:hover {
    color: #000!important;
    background-color: #ccc!important;
}

 